/* PAGE CONTROLS */
.page__controls {
    --animation-duration: 500ms;
    --burger-gap-size: 6px;
    position: absolute;
    /* so that page__controls is centered with language selector */
    /* top: calc(var(--selector-padding-top) + (var(--actual-selector-height) / 2) - (var(--burger-bar-size) * 3)); */
    top: calc(var(--midpoint-selector-height) + var(--burger-bar-size) * 4 + var(--burger-gap-size));
    /* transform: translateY(-50%); */
    /* necessary because page__controls is going to block language selector btns */
    pointer-events: none;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding: 0 var(--x-padding);
    transition: transform var(--animation-duration) ease-in-out;
}   

.page__controls.active {
    transform: translateY(3rem);
}

/* HAMBURGER */
/* burger button */
#hamburger,
.back-arrow,
.go-home {
    /* set to initial because they were disabled in page__controls */
    pointer-events: initial;
}

#hamburger,
.back-arrow {
    width: 35px;
    transition: transform var(--animation-duration) ease-in-out;
}

#hamburger>#bar,
#hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: var(--burger-bar-size);
    background-color: #fff;
    transition: 0.4s;
}

#hamburger>#bar {
    margin: var(--burger-gap-size) 0;
}

/* hamburger is active */
.page__controls.active>#hamburger>#bar {
    opacity: 0;
}

.page__controls.active>#hamburger::after {
    transform: rotate(-45deg) translate(4px, -8px);
    background-color: var(--primary-color-black);
}

.page__controls.active>#hamburger::before {
    transform: rotate(45deg) translate(4px, 8px);
    background-color: var(--primary-color-black);
}

/* arrow */
.arrow-btn {
    cursor: pointer;
    transform: translateX(-50vh);
    transition: transform var(--animation-duration) ease-in-out;
}

.page__controls.active>.arrow-btn {
    transform: translateX(0);
}

.fly-off {
    transform: translateX(50px) rotate(45deg);
    animation: flyOffAnimation 0.5s forwards;
}

@keyframes flyOffAnimation {
    0% {
        opacity: 1;
        transform: translateX(50px) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translateX(-300%) rotate(45deg);
    }
}

.go-home {
    width: 35px;
    height: 35px;
    color: var(--primary-color-white);
    transition: color var(--animation-duration) ease-in-out;
}

.go-home svg {
    width: 100%;
    height: 100%;
}

.page__controls.active .go-home {
    color: var(--primary-color-black);
}

/* PAGE NAVIGATION */
.nav__container{
    --button-size: 3rem;
    --gap: 2rem;
}

.page__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    margin-bottom: 0.5rem;
    color: var(--primary-color-yellow);
    background-color: var(--primary-color-black);
    padding: 0.75rem 0;
    width: 100dvw;
    transform: translateX(-100dvw);
    transition: transform 0.2s ease-in-out;
    /* the time it takes for the menu to slide in */
    transition-delay: 0.5s;
}

.page__navigation.active {
    transform: translateX(0);
}
 
/* .nav-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color-black);
    border-radius: 8px;
    box-shadow: var(--box-shadow-default-thin);
} */

.nav-btn{
    font-size: var(--button-size);
    display: flex;
    align-items: center;
    /* color: var(--primary-color-black); */
}

.extend-nav-btn{
    position: relative;
    color: var(--primary-color-yellow);
    font-size: calc(var(--button-size) - 0.5rem);
    bottom: 3.5rem;
    left: 1rem;
    transition: transform 0.5s ease-in-out;
}

.extended-nav-btn{
    color: var(--primary-color-black);
}

.page__navigation.active~.extend-nav-btn {
    transform: rotate(180deg);
}

@media screen and (max-height: 720px) {
    .nav__container {
        --button-size: 2.5rem;
    }
}
